 
.boxcontain h5{
    font-size: 22px;
    display: flex;
    align-items: center;
}
.serviceboxcontain{
    font-size: 15px;
}
.img_width{
    
    min-height: 95px;
  }
  .titlestyle{
    min-height: 88px;
  }
  @media (max-width: 768px) {
    .titlestyle{
        min-height: auto;
      }
}