.pySpace {
  padding-top: 151px;
  padding-bottom: 125px;
}
.mx_box{
  max-width: 666px;
}
.butterflyright {
  top: 50%;
  right: 10%;
}
.butterflyleft {
  width: 83.50px;
  top: 21%;
  left: 10%;
}

.support_contain h2{
  font-size: 35px;
}
.support_contain p{
  font-size: 24px;

}
.mt_27{
  margin-top: 27px;
}
.buuterflyleft{
  top: 25%;
  left: 15%;
}
@media (max-width: 1400px) {
  .buuterflyleft{
    top: 25%;
    left: 7%;
  }
}
@media (max-width: 1200px) {
  .buuterflyleft{
    top: 25%;
    left: 0%;
  }
}
@media (max-width: 768px) {
  .pySpace {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .support_contain h2{
    font-size: 27px;
  }
  .support_contain p{
    font-size: 15px;
  
  }
}
